<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
</head>
<body>
    <div>
        <h1>Sección de Administrador</h1>
        <p>Administrador de CONTTROL</p>
    </div>
    <form action="/administrador">
        <div>
            <label for="Gestion">gestión</label>
            <input type="text" id="Gestion" name="Gestión">
            <label for="Roles">roles</label>
            <input type="text" id="Roles" name="Roles">
            <label for="Empresa">empresa</label>
            <input type="text" id="Empresa" name="Empresa">
            <label for="Informes">informes</label>
            <input type="text" id="Informes" name="Informes">
            <label for="Usuarios">usuarios</label>
            <input type="text" id="Usuarios" name="Usuarios">
        </div>
    </form>
</body>
</html>