<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style_index.css">
    <title>Login</title>
</head>
<body>
    <div class="login">
        <h1>Login de CONTTROL</h1>
        <form action="/Login" method="post">
            {% if mensaje_error %}
            <div class="error-mensaje">{{ mensaje_error }}</div>
            {% endif %}
            <label for="Usuario">Usuario:</label>
            <input type="text" id="Usuario" name="Usuario">
            <label for="Contraseña">Contraseña:</label>
            <input type="password" id="Contraseña" name="Contraseña">
            <input type="submit" value="Iniciar sesión">
        </form>
    </div>
</body>
</html>